[build]
builder = "NIXPACKS"

[build.nixpacksPlan]
phases.setup.nixPkgs = ["nodejs_18"]
phases.install.cmds = ["npm install"]
phases.build.cmds = ["npm run build"]

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
